n8n_flujos/Música a la Orden funcional_2.json
{
  "name": "Música a la Orden funcional_2",
  "nodes": [
    {
      "parameters": {
        "path": "pedir-musica",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        0
      ],
      "id": "0e46a667-699c-4f3c-b5d9-e990246d9257",
      "name": "Webhook",
      "webhookId": "f1f19731-dbf5-45c6-adae-5f158baceeb3"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{now}}",
        "timeUnit": "hours",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "84f4bedb-84f6-4e0b-8e85-931b7db10e99",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $node[\"Postgres\"].json[\"drive_file_id\"] }}/permissions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "anyone"
            },
            {
              "name": "role",
              "value": "reader"
            },
            {
              "name": "=id_para_borrar",
              "value": "={{ $('Postgres').item.json.drive_file_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        0
      ],
      "id": "e809d359-7dd9-4fd1-9fb7-1157f4525b60",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4fLafH7Mknp3JXKC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH q AS (\n  SELECT lower(trim('{{ $json[\"query\"][\"cancion\"].replace(/'/g, \"''\") }}')) AS qtxt\n)\nSELECT drive_file_id, name, web_view_link\nFROM musica_startup, q\nWHERE lower(name) LIKE '%' || q.qtxt || '%'\nORDER BY\n  CASE\n    WHEN lower(regexp_replace(name, '\\.mp3$', '', 'i')) = q.qtxt THEN 0\n    WHEN lower(name) LIKE q.qtxt || '%' THEN 1\n    ELSE 2\n  END,\n  LENGTH(name) ASC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "9ac8509e-8a0e-46c5-baf7-1500289da069",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "8zQqkIIVzGzMJrii",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"mensaje\": \"Aquí tienes tu canción temporal (1 hora)\",\n  \"cancion\": \"{{ $node['Postgres'].json['name'] }}\",\n  \"enlace\": \"{{ $node['Postgres'].json['web_view_link'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -112,
        224
      ],
      "id": "a3713747-9ea8-438d-90f7-10360c157977",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        224
      ],
      "id": "6e4f7867-3169-4ea7-bfcf-bb8b52bfc66e",
      "name": "Wait",
      "webhookId": "b3874e6d-1ac6-4af2-87a2-d13243a2a15d"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Postgres').item.json.drive_file_id }}/permissions/anyoneWithLink\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        224
      ],
      "id": "0462b3f9-fe2c-4536-b708-6b7ff6759573",
      "name": "HTTP Request1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4fLafH7Mknp3JXKC",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a63830f7-0e7e-4906-82f4-d0b34c0d7452",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82618f443267ad1414b6d8ca7f65d3c3db2c014897410bf22bd7e8b137ec99bc"
  },
  "id": "TP47yHYTJiJ16gjz",
  "tags": []
}